/* Set the size of the div element that contains the map */
#map {
    height:100%; /* The height is the height of the web page */
    width: 100%; /* The width is the width of the web page */
    margin: auto;
  }